<h1>New post</h1>

<%= form_with model: @post do |form| %>

  <%= form.label :body, "Your comment here:"%>
  <%= form.text_area(:body) %>

	<%= form.hidden_field :user_id, value: current_user.id %>

  <%= form.submit "Submit" %>
<% end %>
